* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./background.jpg);
    z-index: 1000;
    border-bottom: 3px solid #2c094c;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #ffffff;
    border-radius: 5px;
    color: #2c094c;
    transform: scale(1.1) translateY(-3px);
}

.content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.content-text {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 20px;
    flex-grow: 1;
}

.intro {
    margin-bottom: 20px;
}

.cruz {
    color: #561196;
}

.content-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.content-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #1e1e1e;
}

.content-text p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.content img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
